# Byte-compiled
__pycache__

# PyCharm
.idea

# packaging
dist
src/FormalGeo.egg-info

# outputs
outputs

# tests
tests

# debug
src/debug.py

# GDL and problems
/gdl/
/problems/

# vscode config
.vscode

# ggb related
/ggb/
